OpenAlexDataCitation.csv
OpenAlexDataCitation.json
OpenAlexData04_21_2025.csv
OpenAlexMNDataCitation.csv
OpenAlexData.zip
OpenAlexMNData.json
OpenAlexData.json
DCNAuthorsOpenAlexData.csv
OpenAlexTwo.json 
OpenAlexTwo.csv
3-23-DCN-API
3-23-DCN-API.csv