OpenAlexDataCitation.csv
OpenAlexDataCitation.json
OpenAlexData04_21_2025.csv
OpenAlexMNDataCitation.csv
OpenAlexData.zip
OpenAlexMNData.json
OpenAlexData.json
DCNAuthorsOpenAlexData.csv
OpenAlexTwo.json 
OpenAlexTwo.csv
3-16-DCN-UMN-Data.csv
3-17-DCN-UMN-Data-Download.csv
3-16-UMN-Source-Data.csv